* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style:square;
    cursor:default;
    font-.gfs-didot-regular {
  font-family: "GFS Didot", serif;
  font-style: normal;
  box-sizing: border-box;
}
}
body {
    background-color: rgb(255, 237, 234);
    background-image: url(../../assets/img/ChatGPT\ Image\ 3\ de\ ago.\ de\ 2025\,\ 13_58_31.png);
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(56, 16, 15);
}
.Pronouns, .Todo, .Tobe {
    text-decoration: none;
    background-color: rgba(77, 58, 76, 0.747);
    border: 3px solid rgb(255, 136, 040, 0.2) transparent;
    color: rgba(255, 248, 248, 0.801);
}
header h1 {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 35px;
    background-color: rgba(245, 245, 220, 0.192);
    color: rgb(255, 242, 229);
}
a button{
    position: relative;
    display: flex;
    align-items:flex-end;
    justify-content: flex-start;
    border: 4px solid rgb(160, 160, 160, 0.3);
    border-bottom-right-radius: 10px;
    padding-right: 4px;
    padding-bottom: 2px;
    cursor: pointer;
}
header h3, h2{
margin-left: 20px;
}
.voltarindex {
    color: gray;
    padding-bottom: 5%;
}
a svg {
    margin-right: 5%;
}
li {
    margin: 40px 11px;
    background-color: rgba(216, 196, 191, 0.521);
}
.TB p {
    margin: 8px 2px;
}
.ul {
    background-color: rgba(255, 255, 243, 0.801);
    backdrop-filter: blur(10px); /* aqui acontece o desfoque do fundo */
  -webkit-backdrop-filter: blur(10px); /* suporte para Safari */
    margin: 0 60px 0;
    border: 5px solid rgb(196, 150, 150);
}
.it {
    background-color: rgba(255, 228, 196, 0.664);
    max-width: max-content;
    margin-left: 30px;
    font-size: smaller;
    margin-right: 30px;
    justify-content: space-around;
    align-items: center;
}